<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinluhuang.englishlearn"
    android:sharedUserId="org.xinluhuang">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".module.memorize.WordMemorizingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.find.FindWordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AnimActivity" />
        <activity
            android:name=".module.setting.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.marked.MarkedWordActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>